.paste-schedule {
	background: url('../../img/schedule_icons/paste.png') top left no-repeat;
	height: 125px;
	width: 80px;
	margin-bottom: 8px;
}

.copy-this-schedule {
	background: url('../../img/schedule_icons/copy-to-buffer.png') top left no-repeat;
	height: 125px;
	width: 80px;
	margin-bottom: 8px;
}

.copy-next-week {
	background: url('../../img/schedule_icons/copy-next-week.png') top left no-repeat;
	height: 125px;
	width: 80px;
	margin-bottom: 8px;
}

.copy-to-end {
	background: url('../../img/schedule_icons/copy-to-end.png') top left no-repeat;
	height: 125px;
	width: 80px;
	margin-bottom: 8px;
}